body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.577468487394958) 0%, rgba(0,212,255,1) 100%);
}

.masonry {
    list-style: none;
    position: relative;
    
}


.item {
    position: absolute;
    
}

.img{
    height:inherit;
   width: inherit;
    
}




