*{
    outline: none;
    padding:0px;
    margin:0px;

}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid;
}

input{
    padding: 5px;
    margin: 20px;
    text-indent: 10px;
    border-radius: 5px;
    border:1px solid black;
}

.chooser{
    border:none;
}

.submit{
 padding: 10px 30px;
 border-radius: 10px;
 border: none;
 background-color: green;
}

.image{
    height: 50px;
    vertical-align: middle;
}

.save{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    text-indent: initial;
}

.delete{
    padding: 10px; 
    border-radius: 10px;
    border: none;
    background-color: red;
    text-indent: initial;
}

